<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
	<title>Uploads</title>
</head>
<body>
	<div class="up-wrap col-md-12">
		<div id="blog">
			<div id="image"></div>
			<ul class="customers-list"></ul>
		</div>
	<button class="btn btn-outline-secondary""><a style="color:rgb(46, 44, 43);" href="/" class="home">HOME</a></button>
	</div>
	<div class="top-wrap">
		<form id="form">
			<input id="file" type="file" required accept="video/*" >
			<button type="submit" class="btn btn-secondary btn-lg">send</button>
		</form>
		<div id="righ" class="col-md-12 d-flex">
			<div id="filesWrapper"></div>
		</div>
	</div>
	<script src="/js/upload.js"></script>
</body>
</html>